@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:#eef2ff;
    background-image: url('../public/assets/grey-background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

svg.star-svg {
    display: inline;
    height: 20px;
    width: 20px;
}